<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>

   <%- include('../partials/header.ejs') %> 
       
    <main class="productDetailMain">

        <%- include('../partials/articleDetail.ejs') %>    
        
        <section class="visitedProducts">
            <h2>Últimos visitados</h2>
            <div class="products">
                <% productos.forEach(producto => { %>
                    <% if (producto.category==="visited") { %>
                        <%- include('../partials/article.ejs',{producto}) %> 
                    <% } %>
                <% }) %>
            </div>
        </section>

        <%- include('../partials/benefits.ejs') %> 

    </main>

    <%- include('../partials/footer.ejs') %> 

</body>
</html>