<!DOCTYPE html>
<html lang="en">

   <%- include('../partials/head.ejs') %> 

<body>

    <%- include('../partials/headerAdmin.ejs', {producto}) %> 

   <main class="editMain">
      <h2>Editar producto</h2>
      <form class="editForm" action="edit/<%=producto.id %>?_method=put" method="POST">
         <div class="editInputContainer">
            <label for="nombre"> Nombre </label>
            <input type="text" name="nombre" id="nombre" value="<%= producto.name%>" required>
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" value="<%= producto.description%>" cols="30" rows="10"></textarea>
            <div class="editImages">
               <label for="imagen"> Imagen </label>
               <input type="file" name="imagen" id="imagen" accept=".png, .jpeg, .jpg" value="<%= producto.image%>" multiple required>
            </div>
            <label for="tipo">Tipo de producto</label>
            <!-- <input type="text" name="tipo" id="tipo" value="< %= producto.tipo%>" required> -->
            <select name="tipo">
               <option value="planta" <%= producto.type == "planta" ? "selected" : "" %>> Planta </option>
               <option value="maceta" <%= producto.type == "maceta" ? "selected" : "" %>> Maceta </option>
               <option value="cuidados" <%= producto.type == "cuidados" ? "selected" : "" %>> Tips y cuidados </option>
            </select>
            <label>Tamaño</label>
            <select name="tamaño">
               <option value="small" <%= producto.size == "small" ? "selected" : "" %>> S (Small) </option>
               <option value="medium" <%= producto.size == "medium" ? "selected" : "" %>> M (Medium) </option>
               <option value="large" <%= producto.size == "large" ? "selected" : "" %>> L (Large) </option>
               <option value="extra-large" <%= producto.size == "extra-large" ? "selected" : "" %>> XL (Extra Large) </option>
            </select>
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" value="<%= producto.price%>" required>
            <div class="editBenefits">
               <label for="cuotas">Cuotas</label>
               <input type="number" name="cuotas" id="cuotas" value="<%= producto.fees%>" required>
               <label>Categoría</label>
               <select name="categoria" >
                  <option value="visited" <%= producto.category == "visited" ? "selected" : "" %>> Últimos visitados </option>
                  <option value="inSale" <%= producto.category == "inSale" ? "selected" : "" %>> En oferta </option>
               </select>
            </div>
            </div>
         <button type="submit"> Guardar </button>
      </form>
   </main>

   <%- include('../partials/footer.ejs') %> 
   
</body>
</html>