<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head.ejs') %> 
<body>
   <%- include('../partials/header.ejs') %> 

    <main>
        <%- include('../partials/banners.ejs') %> 

        <%- include('../partials/benefits.ejs') %> 

        <section class="elegidosDelMes">
            <h2>Nuestros elegidos del mes</h2>
            <div class="products">
                <% productos.forEach(producto => { %>
                    <%- include('../partials/article.ejs',{producto}) %> 
                <% }) %>
            </div>
            <div class="viewMore">
                <a href="#"><p class="more">Ver más</p></a>
            </div>
        </section>

    </main>

    <%- include('../partials/footer.ejs') %> 
</body>

</html>