<section class="productDetailSection">
    <p class="productDetailName">Productos / Plantas / <strong><%= producto.nombre %> </strong></p>
    <div class="productDetail">
        <figure class="productImage">
            <div class="smallImages">
                <img src="/images/<%= producto.imagen %>" alt="nerium oleander" class="default">
                <img src="/images/<%= producto.imagenDetalle %>" alt="nerium oleander detalle">
            </div>
            <div class="bigImage">
                <img src="/images/<%= producto.imagen %>" alt="nerium oleander">
            </div>
        </figure>
        <div class="productDetailInfo">
            <h3 class="productDetailTitle"><%= producto.nombre %></h3>
            <p class="productDetailPrice">$<%= producto.precio %></p>
            <div class="payment">
                <p>6 cuotas sin interés de <strong>$<%= producto.cuotas %></strong></p>
                <a href=""><p class="method">Ver medios de pago</p></a>
            </div>
            <form class="productDetailDescription">
                <div class="size">
                    <label>Tamaño</label>
                    <select name="tamaño">
                        <option value="small"> S (Small)</option>
                        <option value="medium"> M (Medium)</option>
                        <option value="large"> L (Large)</option>
                        <option value="extra-large"> XL (Extra Large)</option>
                    </select>
                </div>
                <div class="amount">
                    <p>Cantidad</p>
                    <div class="productDetailAmount">
                        <i class="fas fa-minus" id="minus"></i>
                        <span> 1 </span>
                        <i class="fas fa-plus" id="plus"></i>
                    </div> 
                </div>
                <div class="productDetailButton">
                    <a href="/users/cart"><button type="submit">  AGREGAR AL CARRITO  </button></a>
                </div>
                <div class="productDetailDelivery">
                    <select name="productDetailDelivery">
                        <option>Elegí el medio de envío </option>
                        <option>Retiro en el local</option>
                        <option>Envío a domicilio</option>
                    </select>
                </div>  
            </form>
        </div>
    </div>
    <div class="productDetailData">
        <div class="productDetailText">
            <h4>¡Prestá atención!</h4>
            <p>Las plantas son seres vivos que requieren de nuestro cuidado y atención. El mismo amor y  atención que le darías a una mascota. </p>
            <br>
            <p>Una vez adquiridas las plantas, ¡no tienen cambio o devolución!</p>
            <br>
            <p>LAS FOTOS SON ILUSTRATIVAS. NO INCLUYE MACETA.</p>
        </div>
        <div class="productDetailSize">
            <h4>Tamaños que trabajamos:</h4>
            <p>S: Altura 25 cm Ancho 18 cm <br>
            M: Altura 50 cm Ancho 20 cm <br>
            L: Altura 70 cm Ancho 25 cm <br>
            XL: Altura 110 cm Ancho 40 cm</p> 
        </div>
    </div>
</section>