<!DOCTYPE html>
<html lang="en">

   <%- include('../partials/head.ejs') %> 

<body>

   <%- include('../partials/header.ejs') %> 

    <main class="cartMain">

        <%- include('../partials/cartForm.ejs')%>

        <%- include('../partials/cartProduct.ejs')%>
        
    </main>

    <%- include('../partials/footer.ejs') %> 

</body>
</html>