<!DOCTYPE html>
<html lang="en">

   <%- include('../partials/head.ejs') %> 

<body>

   <%- include('../partials/header.ejs') %> 

    <main class="userMain">
        <section class="login">
            <div class="loginItems">
                <div class="inCuentaLog"> 
                    <h4> Inicio /  Mi cuenta /  <strong> Iniciar sesión </strong> </h4>
                </div>
                <div class="iniciarSesion">
                    <h2>Iniciar sesión</h2>

                    <%- include('../partials/buttonSN.ejs') %> 

                    <form action="#" method="POST" class="loginForm">
                        <div>
                            <input type="text" name="nombre" class="nombre" placeholder="Nombre de usuario o email" required>
                            <div class="feedback"></div>
                        </div>
                        <div>
                            <input type="password" name="contraseña" class="contraseña"  placeholder="Contraseña" minlength="6" maxlength="8" required> 
                            <div class="feedback"></div>
                        </div>
                        <p> <a href="#">¿Olvidaste tu contraseña?</a></p>

                        <%- include('../partials/reCaptcha.ejs') %> 
                        
                        <button class="botonInicio"> Iniciar sesión </button> 
                    </form> 
                    <div class="registrate">
                        <p class="link"> <a href="/users/register">¿No tienes cuenta? ¡Registrate!</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

      <%- include('../partials/footer.ejs') %> 

</body>
</html>