<!DOCTYPE html>
<html lang="en">

   <%- include('../partials/head.ejs') %> 

<body>

   <%- include('../partials/header.ejs') %> 

    <main class="userMain">
        <div class="datos">
            <div class="loginDatos">
                <div class="inReg"> 
                    <h4>  Inicio /  <strong>  Registro </strong></h4>
                </div>
                <div class="loginCon">
                    <h2>Registrate</h2>

                    <%- include('../partials/buttonSN.ejs') %> 
                    
                </div>
                <div class="register">
                    <form action="#" method="POST" class="registerForm">
                        <div>
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" minLength="2" required></input>
                            <div class="feedback"></div>
                        </div>
                        <div>
                            <input type="email" name="email" id="email" placeholder="Correo electrónico" required></input>
                            <div class="feedback"></div>
                        </div>
                        <div>
                            <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" minlength="6" maxlength="8" required></input>
                            <div class="feedback"></div>
                        </div>
                        <div>
                            <input type="password" name="contraseña" id="repass" placeholder="Confirmar contraseña" minlength="6" maxlength="8" required></input>
                            <div class="feedback"></div>
                        </div>
                        <%- include('../partials/reCaptcha.ejs') %> 
                        <button class="crearCuenta"> Crear cuenta </button>
                    </form>    
                    <p class="yaTenesCuenta"> <a href="/login">¿Ya tienes cuenta? Iniciar sesión</a></p>
                </div>  
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %> 

</body>
</html>